html{
	background: linear-gradient(to left top, #192841, #152238);
}

.pavadinimas{
	font-size: 40px;
	padding-top: 1%;
	text-align: center;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}

.select{
	font-size: 20px;
	padding-top: 3%;
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}
.container-top-left {
  position: relative;
  width: 48%;
}

.container-top-right{
	float: right;
	position: relative;
	width: 48%;
}

.container-bot-left{
	position: relative;
	width: 48%;
	
}

.container-bot-right{
	float: right;
	position: relative;
	width: 48%;
}

.training {
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 1%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 1px 8px 0 white, 0 1px 20px 0 white;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle-right {
	padding-bottom: 38px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-top-right:hover .image {
  opacity: 0.3;
}

.container-top-right:hover .middle-right {
  opacity: 1;
}

.container-top-left:hover .image {
  opacity: 0.3;
}

.container-top-left:hover .middle {
  opacity: 1;
}

.container-bot-left:hover .image {
  opacity: 0.3;
}

.container-bot-left:hover .middle {
  opacity: 1;
}

.container-bot-right:hover .image {
  opacity: 0.3;
}

.container-bot-right:hover .middle-right {
  opacity: 1;
}

a {
	text-decoration: none;
}

.text {
  color: white;
  font-size: 50px;
  padding: 16px 32px;
  font-family: Verdana, Geneva, sans-serif;
}